@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(49, 49, 49);
    font-family: 'Montserrat', sans-serif;
}

.filter {
    position: absolute;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    /* left: 728px; */
}

.sort {
    position: absolute;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    /* left: 882px; */
}

#search {
    width: 270px;
    height: 50px;
    /* left: 1037px; */
}

.search-button {
    position: absolute;
    width: 65px;
    height: 50px;
    border-radius: 5px;
    /* left: 1286px; */
    background-color: #53C9C2;
}

.search {
    margin-top: 1cm;
}

.main-container {
    display: flex;
}

.class-col {
    align-items: stretch;
    justify-content: center;
    height: 100%;
    margin-bottom: 1cm;
}

.card {
    border: none;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-body, .fieldName {
    background-color:#545454;
}

.browseField {
    text-align: end;
}